<html>
    <head>
        <title>LOGIN</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body
            {
                font-size: 20px;
            }
            input
            {
                margin-top: 15px;
                border-radius: 10px;
                border: 2px solid black; 
            }
            button
            {
                margin-top: 10px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <center style="top:50%; left:50%; transform:translate(-50%,-50%); position:absolute;">
            <form action='/login' method="POST">
                LogIn
                <br>
                <input name="email" type="email" placeholder="EMAIL">
                <br>
                <input name="password" type="password" placeholder="PASSWORD">
                <br>
                <button type="submit" class="btn-success">LogIn</button>
                <br>
                <p style="font-size: 15px;">Not Registered? SignUp</p>
            </form>
        </center>
    </body>
</html>